<div class="page-wrapper">

  <h1 class="app-title">Inteligentny Generator CV</h1>

  <div class="login-container">
    <p-card header="Logowanie" class="login-card">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">

        <div class="form-field">
          <label for="username">Nazwa użytkownika</label>
          <input
            pInputText
            id="username"
            type="text"
            formControlName="username"
            placeholder="Wprowadź nazwę użytkownika"
          />
          <div class="error-container">
            <div
              class="error"
              *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid"
            >
              <span>Pole jest wymagane.</span>
            </div>
          </div>
        </div>

        <div class="form-field">
          <label for="password">Hasło</label>
          <p-password
            id="password"
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            placeholder="Wprowadź hasło"
            inputId="password"
            autocomplete="current-password"
            [inputStyle]="{'width':'100%'}"
          ></p-password>

          <div class="error-container">
            <div
              class="error"
              *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
            >
              <span>Pole jest wymagane.</span>
            </div>
          </div>
        </div>

        <div *ngIf="errorMsg" class="error-message">
          {{ errorMsg }}
        </div>

        <button
          pButton
          type="submit"
          label="{{ loading ? 'Logowanie...' : 'Zaloguj się' }}"
          class="w-full"
          [disabled]="loginForm.invalid || loading"
        ></button>

        <p class="register-link">
          Nie masz konta?
          <a routerLink="/register">Zarejestruj się</a>
        </p>
      </form>
    </p-card>
  </div>
</div>
