@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html, body {
  font-family: 'Poppins', sans-serif;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
